[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Ejemplo: añade tus dependencias aquí si las conoces
# flask = "*"  # Para proyectos web

[dev-packages]
# Dependencias de desarrollo (opcional)
# pytest = "*"

[requires]
python_version = "3.13"  
